div.reset-password-container {
    margin-top: 8%;
    div.left-sction {
        div.firebase-logo {}
    }
    div.right-section {
        box-shadow: 0px 5px 5px 0px #ccc;
        padding: 0;
        margin-top: 4%;
        div.reset-password-header {
            font-weight: 500;
            font-size: 19px;
            padding: 1.5% 5% 1.5% 5%;
        }
        form.reset-password-form {
            padding-bottom: 0 !important;
            div.reset-password-btn-container {
                div.reset-password-btn {
                    margin-right: 3%;
                }
                button {
                    width: 77px !important;
                }
            }
        }
        div.sign-in-up-links {
            display: inline-block;
            div.sign-up{
                padding: 5px 20px;
                float: left;
                cursor: pointer;
                &:hover {
                    color: #ff762e;
                }
            }
            div.sign-in {
                padding: 5px 20px;
                float: right;
                cursor: pointer;
                &:hover {
                    color: #ff762e;
                }
            }
        }
    }
}

// .col-sm-6{
//     max-width: 40% !important;
// }
div.left-section,
div.right-section {
    max-width: 40% !important;
}

.loader {
    opacity: 0.2;
}

.btn {
    cursor: pointer;
}