<div class="col-sm-12 row reset-password-container" [ngClass]="{ 'loader' : isLoading }">
	<div class="col-sm-6 left-section" style="margin-left: 10% !important;">
		<div class="firebase-logo">
			<img src="../../assets/images/firebase-auth-logo.png" width="80%" style="margin:12%;">
		</div>
	</div>
	<div class="col-sm-6 right-section card bg-light mb-3">
		<div class="card-header reset-password-header">
			Reset Password
		</div>
		<form #resetPasswordFrom="ngForm" class="card-body reset-password-form" (ngSubmit)="authService.resetPassword(user.password, mode, oobCode)">
			<div class="form-group col-sm-12 row">
				<label for="password" class="col-sm-5 col-form-label">New Password</label>
				<div class="col-sm-7">
					<input type="password" class="form-control" name="password" id="password" placeholder="Enter new password" [(ngModel)]="user.password"
					 #password="ngModel" required appPasswordValidator="confirmPassword" reverse="true">
					<span *ngIf="resetPasswordFrom.submitted && !password.valid" class="help-block">Password is required</span>
				</div>
			</div>
			<div class="form-group col-sm-12 row">
				<label for="confirmPassword" class="col-sm-5 col-form-label">Confirm Password</label>
				<div class="col-sm-7">
					<input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Retype password" [(ngModel)]="user.confirmPassword"
					 #confirmPassword="ngModel" required appPasswordValidator="password" reverse="false">
					<span *ngIf="(confirmPassword.dirty && !confirmPassword.valid) || (resetPasswordFrom.submitted && !confirmPassword.valid)" class="help-block">Password mismatch</span>
				</div>
			</div>

			<div class="form-group col-sm-12 row reset-password-btn-container">
				<div class="col-sm-2 offset-sm-5 reset-password-btn">
					<button type="submit" class="btn btn-outline-secondary" [disabled]="!resetPasswordFrom.form.valid">Save</button>
				</div>
				<div class="col-sm-2 reset-btn">
					<button type="reset" class="btn btn-outline-secondary reset">Reset</button>
				</div>
			</div>
		</form>
		<div class="sign-in-up-links">
				<div class="sign-up" routerLink="/signUp">
					<p>New User? Create Account</p>
				</div>
				<div class="sign-in" routerLink="/">
					<p>Already have an account? Sign In</p>
				</div>
			</div>
	</div>
</div>