// div.login-container {
//     margin-top: 6%;
//     div.left-sction {
//         div.firebase-logo {}
//     }
//     div.right-section {
//         box-shadow: 0px 5px 5px 0px #ccc;
//         padding: 0;
//         div.login-header {
//             font-weight: 500;
//             font-size: 19px;
//             padding: 1.5% 5% 1.5% 5%;
//         }
//         form.login-form {
//             padding-bottom: 0 !important;
//             margin-left: 0;
//             div.login-btn-container {
//                 div.login-btn {
//                     margin-right: 3%;
//                 }
//                 button {
//                     width: 77px !important;
//                 }
//             }
//         }
//         div.reset-signUp-links {
//             margin: 0;
//             // padding-right: 0;
//             // padding-left: 0;
//             padding: 0;
//             div.forget-password {
//                 padding: 15px 36px;
//                 span.forget-password-text{
//                     cursor: pointer;
//                     &:hover {
//                         color: #ff762e;
//                     }
//                 }
//             }
//             div.sign-up {
//                 padding: 15px 20px;
//                 span.sign-up-text{
//                     margin-left: 8%;
//                     cursor: pointer;
//                     &:hover {
//                         color: #ff762e;
//                     }
//                 }
//             }
//         }
//     }
//     hr {
//         width: 46% !important;
//     }
//     div.social-login {
//         // padding: 4% 10%;
//         padding: 15px 0 25px 0;
//         margin-left: 1px; // display: inline-table;
//         div.google-login,
//         div.fb-login {
//             display: inline-block;
//             button.google-btn,
//             button.fb-btn {
//                 padding: 0 !important;
//                 div.google-btn-icon,
//                 div.fb-btn-icon {
//                     display: inline-block;
//                     padding: 5px 10px;
//                     border-right: 1px solid #000;
//                     i.fa-facebook {
//                         color: cornflowerblue;
//                         width: 20px;
//                         height: 20px;
//                         font-size: 20px;
//                         vertical-align: middle;
//                     }
//                 }
//                 div.google-btn-icon{
//                     // padding-left: 0;
//                 }
//                 span.google-btn-text,
//                 span.fb-btn-text {
//                     padding-left: 2%;
//                     padding-right: 3%;
//                 }
//             }
//             button.google-btn {
//                 margin-left: 8%;
//                 width: 212px
//             }
//             button.fb-btn {
//                 margin-left: 2%;
//                 width: 212px;
//             }
//         }
//         div.google-login {
//             // margin-right: 4%;
//             // margin-left: 1%;
//         }
//     }
// }
// // .col-sm-6{
// //     max-width: 40% !important;
// // }
// div.left-section,
// div.right-section {
//     max-width: 40% !important;
// }
// .loader {
//     opacity: 0.2;
// }
// .btn {
//     cursor: pointer;
// }
// // Mozilla Firefox specific styling
// // _:-moz-tree-row(hover), div.social-login {
// //     display: flex !important;
// // }

/** ************************** Responsive Design With Bootstrap ****************************** */

// div.login-container {
//     div.left-section {}
//     div.right-section {
//         box-shadow: 0px 5px 5px 0px #ccc;
//         padding: 0;
//         div.login-header {
//             font-weight: 500;
//             font-size: 19px;
//             padding: 1.5% 5% 1.5% 5%;
//         }
//         form.login-form {
//             .form-group {
//                 padding: 10px;
//                 margin: 0;
//             }
//             button {
//                 width: 77px !important;
//             }
//             button.reset-btn {
//                 margin-left: 16.666667%
//             }
//         }
//         div.reset-signUp-links {
//             margin-left: 0;
//             padding-left: 0;
//             padding-right: 0;
//             padding-top: 0;
//             div.forget-password {
//                 padding-left: 45px;
//                 padding-right: 0;
//             }
//             div.sign-up {
//                 padding-right: 43px;
//                 // padding-left: 0;
//                 span {
//                     float: right;
//                 }
//             }
//             span {
//                 cursor: pointer;
//                 &:hover {
//                     color: #ff762e;
//                 }
//             }
//         }
//         div.seperator{
//             text-align: center;
//             hr {
//                 width: 45%;
//             }
//         }
//         div.social-login{
//             margin-left: 0;
//             padding-left: 0;
//             padding-right: 0;
//             div.google-login{
//                 button.google-btn{
//                     div.google-btn-icon{
//                         display: inline-block;
//                     }
//                 }
//             }
//             div.fb-login{
//                 button.fb-btn{
//                     div.fb-btn-icon{
//                         display: inline-block;
//                     }
//                 }
//             }
//         }
//     }
// }
// @media (min-width: 768px) {
//     div.login-container {
//         margin-top: 6%;
//     }
//     .offset-sm-2 {
//         margin-left: 0;
//     }
// }
// @media (max-width: 768px) {
//     .offset-sm-2 {
//         margin-left: 16.666667%;
//     }
//     div.left-section,
//     div.right-section {
//         max-width: 66.666667%;
//     }
//     .btn {
//         font-size: 13px;
//         padding: 7px 0;
//     }
// }
// @media (min-width: 992px) {
//     div.right-section {
//         max-width: 40%;
//     }
// }
// @media(max-width: 576px) {
//     div.login-container {
//         div.right-section {
//             div.login-header {
//                 font-size: 15px;
//             }
//         }
//     }
//     form.login-form {
//         div.login-btn-container {
//             div.login-btn-wrapper {
//                 margin-left: 1px;
//             }
//         }
//     }
//     div.reset-signUp-links {}
//     .btn {
//         font-size: 13px;
//         padding: 7px 0;
//     }
// }
// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {
//     div.reset-signUp-links {
//         font-size: 13px;
//         div.forget-password {
//         }
//         div.sign-up {
//             padding-left: 42px;
//         }
//         span {
//         }
//     }
// }
// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) {
//     div.reset-signUp-links {
//         font-size: 14px;
//         div.forget-password {
//         }
//         div.sign-up {
//             padding-left: 55px;
//         }
//         span {
//         }
//     }
// }
// @media (min-width: 576px) and (max-width: 637px) {
//     div.reset-signUp-links {
//         font-size: 14px;
//         div.forget-password {
//         }
//         div.sign-up {
//         }
//         span {
//         }
//     }
// }
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) {
//     div.reset-signUp-links {
//         font-size: 14px;
//         div.forget-password {
//         }
//         div.sign-up {
//         }
//         span {
//         }
//     }
// }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) {
//     div.reset-signUp-links {
//         font-size: 14px;
//         div.forget-password {
//         }
//         div.sign-up {
//         }
//         span {
//         }
//     }
// }
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}
// **************************************************************************************************** //

/** ************************** Responsive Design With FlexBox ****************************** */

div.login-container {
    display: flex; // margin-top: 10%;
    margin: 6% 7% 0 7%;
    div.left-section {
        // border: 1px solid #ffcc5c;
        flex: 1; // margin-left: 10%;
        div.firebase-logo {
            margin-top: 10%;
        }
    }
    div.right-section {
        // border: 1px solid #ffcc5c;
        flex: 1; // box-shadow: 0px 5px 5px 0px #ccc;
        padding: 0; // margin-right: 10%;
        div.login-card {
            box-shadow: 0px 5px 5px 0px #ccc;
            width: 85%;
            div.login-header {
                font-weight: 500;
                font-size: 19px;
                padding: 1.5% 5% 1.5% 6%;
            }
            div.login-wrapper {
                form.login-form {
                    padding: 0 1.25rem;
                    div.form-group {
                        display: flex;
                        margin-bottom: 2rem;
                        padding: 0 2%;
                        label {
                            flex: 1 1 75px;
                        }
                        div {
                            flex: 4 4 75px;
                        }
                    }
                    div.login-btn-wrapper {
                        display: flex;
                        padding: 0 2%;
                        div.offset-div {
                            flex: 1 1 75px;
                        }
                        div.login-btn-div {
                            flex: 4 4 75px;
                            display: flex;
                            div.login-btn {
                                margin-right: 5%;
                            }
                            div.reset-btn {}
                            .btn {
                                width: 100px;
                            }
                        }
                    }
                }
                div.reset-signUp-links {
                    padding: 0 6%;
                    display: flex;
                    justify-content: space-between;
                    margin: 5% 0 0 0;
                    div.sign-up {
                        span.sign-up-trim-text {
                            display: none;
                        }
                    }
                    span {
                        &:hover {
                            color: #ff762e;
                            cursor: pointer;
                        }
                    }
                } // div.seperator {
                //     display: flex;
                //     padding: 0 3%;
                //     hr {
                //         // width: 45%;
                //         flex: 1 1 45%;
                //     }
                //     span {
                //         font-size: 14px;
                //         padding: 0.9% 2% 0 2%;
                //         flex: 1 1 0%;
                //     }
                // }
                // div.social-login-text {
                //     display: flex;
                //     justify-content: center;
                // }
                // div.social-login {
                //     display: flex;
                //     justify-content: space-around;
                //     margin: 3%;
                //     div.google-login {
                //         button.google-btn {
                //             display: flex;
                //             padding-top: 0;
                //             padding-bottom: 0;
                //             padding-right: 0;
                //             div.google-btn-icon {
                //                 border-right: 1px solid #000;
                //                 padding: 5% 0.75rem 5% 0;
                //             }
                //             span {
                //                 padding: 5%;
                //             }
                //         }
                //     }
                //     div.fb-login {
                //         button.fb-btn {
                //             display: flex;
                //             padding-top: 0;
                //             padding-bottom: 0;
                //             padding-right: 0;
                //             div.fb-btn-icon {
                //                 border-right: 1px solid #000;
                //                 padding-right: 5%;
                //                 padding: 4% 0.75rem 3% 0;
                //                 font-size: 20px;
                //                 i {
                //                     color: cornflowerblue;
                //                 }
                //             }
                //             span {
                //                 padding: 5%;
                //             }
                //         }
                //     }
                // }
            }
            div.seperator {
                display: flex; // padding: 0 3%;
                hr {
                    // width: 45%;
                    flex: 1 1 45%;
                }
                span {
                    font-size: 14px;
                    padding: 0.9% 2% 0 2%;
                    flex: 1 1 0%;
                }
            }
            div.social-login-text {
                display: flex;
                justify-content: center;
            }
            div.social-login {
                display: flex;
                justify-content: space-around; // margin: 3%;
                margin: 3% 0 5%;
                div.google-login {
                    button.google-btn {
                        display: flex;
                        padding-top: 0;
                        padding-bottom: 0;
                        padding-right: 0;
                        div.google-btn-icon {
                            border-right: 1px solid #000;
                            padding: 5% 0.75rem 5% 0;
                        }
                        span {
                            padding: 5%;
                        }
                    }
                }
                div.fb-login {
                    button.fb-btn {
                        display: flex;
                        padding-top: 0;
                        padding-bottom: 0;
                        padding-right: 0;
                        div.fb-btn-icon {
                            border-right: 1px solid #000;
                            padding-right: 5%;
                            padding: 4% 0.75rem 3% 0;
                            font-size: 20px;
                            i {
                                color: cornflowerblue;
                            }
                        }
                        span {
                            padding: 5%;
                        }
                    }
                }
            }
        }
        .btn {
            cursor: pointer;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    div.login-container {
        margin: 4% 5% 0 5%;
        div.left-section {
            margin-left: 0;
            div.firebase-logo {
                margin-top: 25%;
            }
        }
        div.right-section {
            margin-right: 0;
            div.login-card {
                div.social-login {
                    display: flex;
                    margin: 3%;
                    flex-direction: column;
                    align-items: center;
                    div.google-login {
                        width: 231px;
                        margin-bottom: 5%;
                        button.google-btn {
                            display: flex;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 25px;
                            div.google-btn-icon {
                                border-right: 1px solid #000;
                                padding: 5% 1rem 5% 0;
                            }
                            span {
                                padding: 5%;
                            }
                        }
                    }
                    div.fb-login {
                        margin-bottom: 2%;
                        button.fb-btn {
                            width: 231px;
                            display: flex;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 21px;
                            div.fb-btn-icon {
                                border-right: 1px solid #000;
                                padding-right: 5%;
                                padding: 4% 1.19rem 3% 0;
                                font-size: 20px;
                                margin-left: 3%;
                            }
                            span {
                                padding: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    div.login-container {
        margin: 4% 5% 0 0%;
        div.left-section {
            margin-left: 0;
            div.firebase-logo {
                margin-top: 25%;
            }
        }
        div.right-section {
            margin-right: 5%;
            div.login-card {
                width: 100%;
                div.login-header {}
                div.login-wrapper {
                    form.login-form {
                        div.form-group {
                            label {
                                flex: 1 1 100px;
                            }
                            div {
                                flex: 4 4 75px;
                            }
                        }
                        div.login-btn-wrapper {
                            div.offset-div {
                                flex: 1 1 100px;
                            }
                            div.login-btn-div {
                                div.login-btn {}
                                div.reset-btn {}
                                .btn {
                                    // width: 84px;
                                    width: 65px;
                                    padding-left: 0;
                                    padding-right: 0;
                                }
                            }
                        }
                    } // div.social-login {
                    //     display: flex;
                    //     margin: 3%;
                    //     flex-direction: column;
                    //     align-items: center;
                    //     div.google-login {
                    //         width: 231px;
                    //         margin-bottom: 5%;
                    //         button.google-btn {
                    //             display: flex;
                    //             padding-top: 0;
                    //             padding-bottom: 0;
                    //             padding-right: 25px;
                    //             div.google-btn-icon {
                    //                 border-right: 1px solid #000;
                    //                 padding: 5% 1rem 5% 0;
                    //             }
                    //             span {
                    //                 padding: 5%;
                    //             }
                    //         }
                    //     }
                    //     div.fb-login {
                    //         button.fb-btn {
                    //             width: 231px;
                    //             display: flex;
                    //             padding-top: 0;
                    //             padding-bottom: 0;
                    //             padding-right: 21px;
                    //             div.fb-btn-icon {
                    //                 border-right: 1px solid #000;
                    //                 padding-right: 5%;
                    //                 padding: 4% 1.19rem 3% 0;
                    //                 font-size: 20px;
                    //                 margin-left: 3%;
                    //             }
                    //             span {
                    //                 padding: 5%;
                    //             }
                    //         }
                    //     }
                    // }
                    div.reset-signUp-links {
                        padding: 0 7%;
                        div.sign-up {
                            span.sign-up-text {
                                display: none;
                            }
                            span.sign-up-trim-text {
                                display: inline-block;
                            }
                        }
                    }
                }
                div.social-login {
                    display: flex;
                    margin: 3%;
                    flex-direction: column;
                    align-items: center;
                    div.google-login {
                        width: 231px;
                        margin-bottom: 5%;
                        button.google-btn {
                            display: flex;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 25px;
                            div.google-btn-icon {
                                border-right: 1px solid #000;
                                padding: 5% 1rem 5% 0;
                            }
                            span {
                                padding: 5%;
                            }
                        }
                    }
                    div.fb-login {
                        margin-bottom: 2%;
                        button.fb-btn {
                            width: 231px;
                            display: flex;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 21px;
                            div.fb-btn-icon {
                                border-right: 1px solid #000;
                                padding-right: 5%;
                                padding: 4% 1.19rem 3% 0;
                                font-size: 20px;
                                margin-left: 3%;
                            }
                            span {
                                padding: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Small devices (Mobile, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    div.login-container {
        div.left-section {
            div.firebase-logo {
                margin-top: 0;
            }
        }
        div.right-section {
            div.login-card {
                width: 100%;
                div.social-login {
                    justify-content: space-evenly;
                }
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    div.login-container {
        div.left-section {
            div.firebase-logo {
                margin-top: 0;
            }
        }
        div.right-section {
            div.login-card {
                width: 100%;
                div.login-wrapper {
                    form.login-form {
                        div.login-btn-wrapper {
                            div.login-btn-div {
                                .btn {
                                    width: 77px;
                                }
                            }
                        }
                    }
                    div.reset-signUp-links {
                        div.sign-up {
                            span.sign-up-text {
                                display: none;
                            }
                            span.sign-up-trim-text {
                                display: inline-block;
                            }
                        }
                    } // div.social-login {
                    //     display: flex;
                    //     margin: 3%;
                    //     flex-direction: column;
                    //     align-items: center;
                    //     div.google-login {
                    //         width: 231px;
                    //         margin-bottom: 5%;
                    //         button.google-btn {
                    //             display: flex;
                    //             padding-top: 0;
                    //             padding-bottom: 0;
                    //             padding-right: 25px;
                    //             div.google-btn-icon {
                    //                 border-right: 1px solid #000;
                    //                 padding: 5% 1rem 5% 0;
                    //             }
                    //             span {
                    //                 padding: 5%;
                    //             }
                    //         }
                    //     }
                    //     div.fb-login {
                    //         button.fb-btn {
                    //             width: 231px;
                    //             display: flex;
                    //             padding-top: 0;
                    //             padding-bottom: 0;
                    //             padding-right: 21px;
                    //             div.fb-btn-icon {
                    //                 border-right: 1px solid #000;
                    //                 padding-right: 5%;
                    //                 padding: 4% 1.19rem 3% 0;
                    //                 font-size: 20px;
                    //                 margin-left: 3%;
                    //             }
                    //             span {
                    //                 padding: 5%;
                    //             }
                    //         }
                    //     }
                    // }
                }
                div.social-login {
                    display: flex;
                    margin: 3%;
                    flex-direction: column;
                    align-items: center;
                    div.google-login {
                        width: 231px;
                        margin-bottom: 5%;
                        button.google-btn {
                            display: flex;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 25px;
                            div.google-btn-icon {
                                border-right: 1px solid #000;
                                padding: 5% 1rem 5% 0;
                            }
                            span {
                                padding: 5%;
                            }
                        }
                    }
                    div.fb-login {
                        margin-bottom: 2%;
                        button.fb-btn {
                            width: 231px;
                            display: flex;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 21px;
                            div.fb-btn-icon {
                                border-right: 1px solid #000;
                                padding-right: 5%;
                                padding: 4% 1.19rem 3% 0;
                                font-size: 20px;
                                margin-left: 3%;
                            }
                            span {
                                padding: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    div.login-container {
        flex-direction: column;
        margin-top: 0;
        div.left-section,
        div.right-section {
            margin: 0 5%;
        }
    }
}

@media (min-width: 992px) {
    div.login-container {
        div.left-section {
            flex: 3;
        }
        div.right-section {
            flex: 4;
        }
    }
}

// @media (min-width: 768px) and (max-width: 950px) {
//     div.login-container {
//         div.right-section {
//             div.login-card {
//                 div.login-wrapper {
//                     div.reset-signUp-links {
//                         div.sign-up {
//                             span.sign-up-text {
//                                 display: none;
//                             }
//                             span.sign-up-trim-text {
//                                 display: inline-block;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }