<!-- <div class="col-sm-12 row login-container" [ngClass]="{ 'loader' : isLoading }">
	<div class="col-sm-6 left-section" style="margin-left: 10% !important;">
		<div class="firebase-logo">
			<img src="../../assets/images/firebase-auth-logo.png" width="80%" style="margin:12%;">
		</div>
	</div>
	<div class="col-sm-6 right-section card bg-light mb-3">
		<div class="card-header login-header">
			Login Into Your Account
		</div>
		<form #loginForm="ngForm" class="col-sm-12 row card-body login-form" (ngSubmit)="authService.signInWithEmailAndPassword(user.email, user.password)">
			<div class="form-group col-sm-12 row">
				<label for="email" class="col-sm-4 col-form-label">Email address</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" [(ngModel)]="user.email" #email="ngModel"
					 required>
					<span *ngIf="loginForm.submitted && !email.valid" class="help-block">Email is required</span>
				</div>
			</div>
			<div class="form-group col-sm-12 row">
				<label for="password" class="col-sm-4 col-form-label">Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" name="password" id="password" placeholder="Enter password" [(ngModel)]="user.password"
					 #password="ngModel" required>
					<span *ngIf="loginForm.submitted && !password.valid" class="help-block">Password is required</span>
				</div>
			</div>
			<div class="form-group col-sm-12 row login-btn-container">
				<div class="col-sm-2 offset-sm-4 login-btn">
					<button type="submit" class="btn btn-outline-secondary" [disabled]="!loginForm.form.valid">Sign In</button>
				</div>
				<div class="col-sm-2 reset-btn">
					<button type="reset" class="btn btn-outline-secondary">Reset</button>
				</div>
			</div>
		</form>
		<div class="reset-signUp-links col-sm-12 row card-body">
			<div class="forget-password col-sm-6" routerLink="/forget-password">
				<span class="forget-password-text">Forget Password</span>
			</div>
			<div class="sign-up col-sm-6" routerLink="/signUp">
				<span class="sign-up-text">New User? Create Account</span>
			</div>
		</div>
		<div>
			<hr style="float:left">
			<span style="margin-left: 10px;vertical-align: middle;">OR</span>
			<hr style="float:right">
		</div>
		<div class="col-sm-12 row card-body" style="margin-left: 0;	padding: 0 9.20rem;">
			<span>Don't have an account? Sign Up!</span>
		</div>
		<div class="col-sm-12 row card-body social-login">
			<div class=" col-sm-6 google-login">
				<button class="btn btn-outline-secondary google-btn" (click)="authService.googleLogin()">
					<div class="google-btn-icon">
						<img src="../../assets/images/google-icon.png" alt="google login" height="20" width="20">
					</div>
					<span class="google-btn-text">Sign in with Google</span>
				</button>
			</div>
			<div class=" col-sm-6 fb-login">
				<button class="btn btn-outline-secondary fb-btn">
					<div class="fb-btn-icon">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</div>
					<span class="fb-btn-text">Sign in with Facebook</span>
				</button>
			</div>
		</div>

	</div>

</div> -->

<!-- Responsive design with Bootstrap Grid Model -->

<!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 row login-container" [ngClass]="{ 'loader' : isLoading }">
	<div class="offset-sm-2 col-sm-8 col-md-6 col-lg-6 left-section">
		<div class="firebase-logo">
			<img src="../../assets/images/firebase-auth-logo.png" width="80%" style="margin:12%;">
		</div>
	</div>
	<div class="offset-2 col-8 offset-sm-2 col-sm-8 col-md-6 col-lg-6 card bg-light mb-3 right-section">
		<div class="card-header login-header">
			Login Into Your Account
		</div>
		<form #loginForm="ngForm" class="col-12 col-sm-12 col-md-12 col-lg-12 card-body login-form" (ngSubmit)="authService.signInWithEmailAndPassword(user.email, user.password)">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 row form-group">
				<label for="email" class="col-12 col-sm-5 col-md-4 col-lg-4 col-form-label">Email address</label>
				<div class="col-12 col-sm-7 col-md-8 col-lg-8">
					<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" [(ngModel)]="user.email" #email="ngModel"
					 required>
					<span *ngIf="loginForm.submitted && !email.valid" class="help-block">Email is required</span>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 row form-group">
				<label for="password" class="col-12 col-sm-5 col-md-4 col-lg-4 col-form-label">Password</label>
				<div class="col-12 col-sm-7 col-md-8 col-lg-8">
					<input type="password" class="form-control" name="password" id="password" placeholder="Enter password" [(ngModel)]="user.password"
					 #password="ngModel" required>
					<span *ngIf="loginForm.submitted && !password.valid" class="help-block">Password is required</span>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 row form-group login-btn-container">
				<div class="col-12 offset-sm-5 col-sm-7 offset-md-4 col-md-8 offset-lg-4 col-lg-8 row login-btn-wrapper">
					<button type="submit" class="col-5 col-sm-5 col-md-5 col-lg-5 btn btn-outline-secondary login-btn" [disabled]="!loginForm.form.valid">Sign In</button>
					<button type="reset" class="offset-2 col-5 offset-sm-2 col-sm-5 offset-md-2 col-md-5 offset-lg-2 col-lg-5 btn btn-outline-secondary reset-btn">Reset</button>
				</div>
			</div>
		</form>

		<div class="col-12 col-sm-12 col-md-12 col-lg-12 row card-body reset-signUp-links">
			<div class="forget-password col-5 col-sm-5 col-md-5 col-lg-5" routerLink="/forget-password">
				<span class="forget-password-text">Forgot Password</span>
			</div>
			<div class="sign-up col-7 col-sm-7 col-md-7 col-lg-7" routerLink="/signUp">
				<span class="sign-up-text">New User? Create Account</span>
			</div>
		</div>
		<div class="seperator">
			<hr style="float:left">
			<span style="font-size: 14px;vertical-align: middle;">OR</span>
			<hr style="float:right">
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 row card-body social-login">
			<div class="col-12 col-sm-6 col-md-6 col-lg-6 google-login">
				<button class="btn btn-outline-secondary google-btn" (click)="authService.googleLogin()">
					<div class="google-btn-icon">
						<img src="../../assets/images/google-icon.png" alt="google login" height="20" width="20">
					</div>
					<span class="google-btn-text">Sign in with Google</span>
				</button>
			</div>

			<div class="col-12 col-sm-6 col-md-6 col-lg-6 fb-login">
				<button class="btn btn-outline-secondary fb-btn">
					<div class="fb-btn-icon">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</div>
					<span class="fb-btn-text">Sign in with Facebook</span>
				</button>
			</div>
		</div>
	</div>
</div> -->








<!-- Responsive design with Flex box -->
<div class="login-container" [ngClass]="{ 'loader' : isLoading }">
	<div class="left-section">
		<div class="firebase-logo">
			<img src="../../assets/images/firebase-auth-logo.png" width="100%">
		</div>
	</div>
	<div class="right-section">
		<div class="card bg-light mb-3 login-card">
			<div class="card-header login-header">
				Login Into Your Account
			</div>
			<div class="card-body login-wrapper">
				<form #loginForm="ngForm" class="login-form" (ngSubmit)="authService.signInWithEmailAndPassword(user.email, user.password)">
					<div class="form-group email">
						<label for="email" class="col-form-label">Email address</label>
						<div class="">
							<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" [(ngModel)]="user.email" #email="ngModel"
							required>
							<span *ngIf="loginForm.submitted && !email.valid" class="help-block">Email is required</span>
						</div>
					</div>
					<div class="form-group password">
						<label for="password" class="col-form-label">Password</label>
						<div class="">
							<input type="password" class="form-control" name="password" id="password" placeholder="Enter password" [(ngModel)]="user.password"
							#password="ngModel" required>
							<span *ngIf="loginForm.submitted && !password.valid" class="help-block">Password is required</span>
						</div>
					</div>
					<div class="login-btn-wrapper">
						<div class="offset-div"></div>
						<div class=login-btn-div>
							<div class="login-btn">
								<button type="submit" class="btn btn-outline-secondary" [disabled]="!loginForm.form.valid">Sign In</button>
							</div>
							<div class="reset-btn">
								<button type="reset" class="btn btn-outline-secondary">Reset</button>
							</div>
						</div>
					</div>
				</form>
				<div class="reset-signUp-links">
					<div class="forget-password " routerLink="/forget-password">
						<span class="forget-password-text">Forgot Password</span>
					</div>
					<div class="sign-up" routerLink="/signUp">
						<span class="sign-up-text">New User? Create Account</span>
						<span class="sign-up-trim-text">New User? Sign Up</span>
					</div>
				</div>
				<!-- <div class="seperator">
					<hr>
					<span>OR</span>
					<hr>
				</div>
				<div class="social-login-text">
					<span>Don't have an account? Sign Up!</span>
				</div>
				<div class="social-login">
					<div class="google-login">
						<button class="btn btn-outline-secondary google-btn" (click)="authService.googleLogin()">
							<div class="google-btn-icon">
								<img src="../../assets/images/google-icon.png" alt="google login" height="20" width="20">
							</div>
							<span class="google-btn-text">Sign in with Google</span>
						</button>
					</div>
					<div class="fb-login">
						<button class="btn btn-outline-secondary fb-btn">
							<div class="fb-btn-icon">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</div>
							<span class="fb-btn-text">Sign in with Facebook</span>
						</button>
					</div>
				</div> -->
			</div>
			<div class="seperator">
				<hr>
				<span>OR</span>
				<hr>
			</div>
			<div class="social-login-text">
				<span>Don't have an account? Sign Up!</span>
			</div>
			<div class="social-login">
				<div class="google-login">
					<button class="btn btn-outline-secondary google-btn" (click)="authService.googleLogin()">
						<div class="google-btn-icon">
							<img src="../../assets/images/google-icon.png" alt="google login" height="20" width="20">
						</div>
						<span class="google-btn-text">Sign in with Google</span>
					</button>
				</div>
				<div class="fb-login">
					<button class="btn btn-outline-secondary fb-btn">
						<div class="fb-btn-icon">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</div>
						<span class="fb-btn-text">Sign in with Facebook</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>












<!-- *********************************************************************************************************************** -->


<!-- <div class="container">
	<div class="jumbotron">
		<h1>Learn to Create Websites</h1>
		<p>In today's world internet is the most popular way of connecting with the people. At
			<a href="https://www.tutorialrepublic.com"
			 target="_blank">tutorialrepublic.com</a> you will learn the essential of web development technologies along with real life practice example,
			so that you can create your own website to connect with the people around the world.</p>
		<p>
			<a href="https://www.tutorialrepublic.com" target="_blank" class="btn btn-success btn-lg">Get started today</a>
		</p>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-2">
			<h2>HTML</h2>
			<p>HTML is a markup language that is used for creating web pages. The HTML tutorial section will help you understand the
				basics of HTML, so that you can create your own web pages or website.</p>
			<p>
				<a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a>
			</p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-2">
			<h2>CSS</h2>
			<p>CSS is used for describing the presentation of web pages. The CSS tutorial section will help you learn the essentials
				of CSS, so that you can fine control the style and layout of your HTML document.</p>
			<p>
				<a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a>
			</p>
		</div>
		<div class="clearfix visible-sm-block"></div>
		<div class="col-sm-6 col-md-4 col-lg-2">
			<h2>Bootstrap</h2>
			<p>Bootstrap is a powerful front-end framework for faster and easier web development. The Bootstrap tutorial section will
				help you learn the techniques of Bootstrap so that you can create web your own website with much less efforts.</p>
			<p>
				<a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a>
			</p>
		</div>
		<div class="clearfix visible-md-block"></div>
		<div class="col-sm-6 col-md-4 col-lg-2">
			<h2>References</h2>
			<p>The references section outlines all the standard HTML tags and CSS properties along with other useful references such
				as color names and values, symbols and character entities, web safe fonts, language codes, HTTP messages and much more.</p>
			<p>
				<a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a>
			</p>
		</div>
		<div class="clearfix visible-sm-block"></div>
		<div class="col-sm-6 col-md-4 col-lg-2">
			<h2>Examples</h2>
			<p>The examples section encloses an extensive collection of examples on various topic that you can try and test yourself
				using online HTML editor.</p>
			<p>
				<a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a>
			</p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-2">
			<h2>FAQ</h2>
			<p>The collection of Frequently Asked Questions (FAQ) provides brief answers to many common questions related to web design
				and development.</p>
			<p>
				<a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a>
			</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<footer>
				<p>&copy; Copyright 2013 Tutorial Republic</p>
			</footer>
		</div>
	</div>
</div> -->