<div *ngIf="isLoading" class="loading-icon">
	<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
</div>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="../assets/images/angular-logo.png" width="60" height="30" class="d-inline-block align-top" alt="">A5P
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul *ngIf="authService.authenticated" class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/home" routerLinkActive="active">Home
					<!-- <span class="sr-only">(current)</span> -->
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Option 1</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Option 2</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Option 3</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<!-- <li *ngIf="!authService.authenticated" class="nav-item">
				<a class="nav-link" (click)="authService.signIn">Sign In</a>
			</li> -->
			<li *ngIf="authService.authenticated" class="nav-item sign-out" tabindex="0" data-trigger="focus" data-container="body" data-toggle="popover"
			 data-placement="bottom">
				<a class="nav-link">{{loggedInUserInitials}}</a>
			</li>
		</ul>
	</div>
</nav>


<toaster-container></toaster-container>
<router-outlet></router-outlet>