div.loading-icon {
    text-align: center;
    color: #656565;
    font-size: 135%;
    position: absolute;
    left: 44%;
    top: 35%;
    z-index: 99999;
}

li.sign-out {
    &:focus{
        outline: none !important;
    }
    cursor: pointer;
    line-height: 22px;
    height: 44px;
    border-radius: 44px;
    border: 1px solid #fff;
    width: 44px;
    text-align: center;
    padding-top: 2px;
    background-color: #fff;
    a {
        color: #000;
        &:hover {
            color: #000;
        }
    }
}

div.popover.bs-popover-bottom {
    max-width: 365px;
    left: -65px;
    div.arrow {
        left: 330px;
    }
    div.popover-body{
        padding: 0;
        div.sign-out-container {
            margin-left: 0 !important;
        }
    }
}