div.signUp-container {
    margin-top: 8%;
    div.left-sction {
        div.firebase-logo {}
    }
    div.right-section {
        box-shadow: 0px 5px 5px 0px #ccc;
        padding: 0;
        div.signUp-header {
            font-weight: 500;
            font-size: 19px;
            padding: 1.5% 5% 1.5% 5%;
        }
        form.signUp-form {
            padding-bottom: 0 !important;
            div.signUp-btn-container {
                margin-top: 5%;
                div.signUp-btn {
                    margin-right: 3%;
                }
                button {
                    width: 77px !important;
                }
            }
        }
        div.sign-in {
            padding: 20px;
            cursor: pointer;
            &:hover {
                color: #ff762e;
            }
            p {
                float: right;
                margin: 0;
            }
        }
        // hr {
        //     width: 46% !important;
        // }
        // div.social-login {
        //     padding: 4% 10%;
        //     div.google-login,
        //     div.fb-login {
        //         display: inline-block;
        //         button.google-btn,
        //         button.fb-btn {
        //             padding: 0 !important;
        //             div.google-btn-icon,
        //             div.fb-btn-icon {
        //                 display: inline-block;
        //                 padding: 5px 10px;
        //                 border-right: 1px solid #000;
        //                 i.fa-facebook {
        //                     color: cornflowerblue;
        //                     width: 20px;
        //                     height: 20px;
        //                     font-size: 20px;
        //                     vertical-align: middle;
        //                 }
        //             }
        //             span.google-btn-text,
        //             span.fb-btn-text {
        //                 padding-left: 2%;
        //                 padding-right: 3%;
        //             }
        //         }
        //     }
        //     div.google-login {
        //         // margin-right: 4%;
        //         // margin-left: 1%;
        //     }
        // }
    }
}

// .col-sm-6{
//     max-width: 40% !important;
// }
div.left-section,
div.right-section {
    max-width: 40% !important;
}

.loader {
    opacity: 0.2;
}

.btn {
    cursor: pointer;
}