<div class="col-sm-12 row signUp-container" [ngClass]="{ 'loader' : isLoading }">
	<div class="col-sm-6 left-section" style="margin-left: 10% !important;">
		<div class="firebase-logo">
			<img src="../../assets/images/firebase-auth-logo.png" width="80%" style="margin:12%;">
		</div>
	</div>
	<div class="col-sm-6 right-section card bg-light mb-3">
		<div class="card-header signUp-header">
			Create New Account
		</div>
		<form #signUpForm="ngForm" class="card-body signUp-form" (ngSubmit)="authService.signUp(user)">
			<div class="form-group col-sm-12 row">
				<label for="fullName" class="col-sm-5 col-form-label">Full Name</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="fullName" id="fullName" placeholder="Enter full name" [(ngModel)]="user.fullName" #fullName="ngModel"
					 required>
					<span *ngIf="signUpForm.submitted && !fullName.valid" class="help-block">Full name is required</span>
				</div>
			</div>
			<div class="form-group col-sm-12 row">
				<label for="email" class="col-sm-5 col-form-label">Email address</label>
				<div class="col-sm-7">
					<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" [(ngModel)]="user.email" #email="ngModel"
					 required>
					<span *ngIf="signUpForm.submitted && !email.valid" class="help-block">Email is required</span>
				</div>
			</div>
			<div class="form-group col-sm-12 row">
				<label for="password" class="col-sm-5 col-form-label">Password</label>
				<div class="col-sm-7">
					<input type="password" class="form-control" name="password" id="password" placeholder="Enter password" [(ngModel)]="user.password"
					 #password="ngModel" required appPasswordValidator="confirmPassword" reverse="true">
					<span *ngIf="signUpForm.submitted && !password.valid" class="help-block">Password is required</span>
				</div>
			</div>
			<div class="form-group col-sm-12 row">
				<label for="confirmPassword" class="col-sm-5 col-form-label">Confirm Password</label>
				<div class="col-sm-7">
					<input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Retype password" [(ngModel)]="user.confirmPassword"
					 #confirmPassword="ngModel" required appPasswordValidator="password" reverse="false">
					<span *ngIf="(confirmPassword.dirty && !confirmPassword.valid) || (signUpForm.submitted && !confirmPassword.valid)" class="help-block">Password mismatch</span>
				</div>
			</div>
			<div class="form-group col-sm-12 row signUp-btn-container">
				<div class="col-sm-2 offset-sm-5 signUp-btn">
					<button type="submit" class="btn btn-outline-secondary" [disabled]="!signUpForm.form.valid">Sign Up</button>
				</div>
				<div class="col-sm-2 reset-btn">
					<button type="reset" class="btn btn-outline-secondary">Reset</button>
				</div>
			</div>
		</form>
		<div class="sign-in" routerLink="/home">
			<p>Already have an account? Sign In</p>
		</div>
	</div>
</div>