/* You can add global styles to this file, and also import other style files */

// styling for toaster
@import '../node_modules/angular2-toaster/toaster.css';
div.fr-box.fr-basic.fr-top {
    div.fr-element.fr-view {
        height: 100px !important;
    }
}

div.popover.bs-popover-bottom {
    max-width: 365px;
    div.arrow {
        left: 330px;
    }
    div.popover-body {
        padding: 0;
        font-size: 16px;
        div.sign-out-container {
            margin-left: 0 !important;
            div.display-name {
                padding: 10px 0;
            }
            div.sign-out-btn {
                padding: 10px 0;
                span {
                    /* padding: 0 0 0 15px; */
                    margin-left: 20px;
                    cursor: pointer;
                    &:hover{
                        color: #ff762e;
                    }
                }
            }
        }
    }
}

.btn:disabled{
    cursor: no-drop !important;
}