div.add-post {
    margin: 50px 40px 0;
    form.forget-password-form{
        div.add-post-btn-container{
            .btn{
                width: 150px
            }
            div.reset-btn{
                // padding-left: 0;
            }
        }
    }
}

div.post-container {
    div.post {
        margin: 40px 40px !important;
        div.card-footer{
            div.like-unline-container{
                display: inline-block;
                width: 100px;
                small.like-count,small.unlike-count{
                    margin-right: 3%;
                }
                i{
                    cursor: pointer;
                }
            }
            div.post-author-edited-stamp{
                text-align: right;
                display: inline-block;
                float: right;
            }
        }
    }
}


div.post-container {
    div.post:nth-child(1) {
        margin-top: 30px !important;
    }
}

div.write-post-btn{
    margin: 50px 40px 0;
}



.tool-tip-delete,
.tool-tip-edit {
    display: inline-block;
}

.tool-tip-delete [disabled],
.tool-tip-edit [disabled] {
    pointer-events: none;
}

textarea {
    resize: both;
    width: 100%;
    height: 150px !important;
}

.loader {
    opacity: 0.2;
}
.like, .unlike{
    color:#ff762e;
}
.btn {
    cursor: pointer !important;
}