<div *ngIf="isWritePost" class="add-post card bg-light mb-3" [ngClass]="{ 'loader' : isLoading }">
	<form #addPostForm="ngForm" class="card-body forget-password-form" (ngSubmit)="addPost()">
		<div class="form-group col-sm-12 row">
			<label for="email" class="col-sm-2 col-form-label">Post Title</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="title" [(ngModel)]="post.title" #title="ngModel" required>
				<span *ngIf="addPostForm.submitted && !title.valid" class="help-block">Title is required</span>
			</div>
		</div>

		<div class="form-group col-sm-12 row">
			<label for="content" class="col-sm-2 col-form-label">Post Conetnt</label>
			<div class="col-sm-10">
				<textarea [froalaEditor] class="form-control" name="content" [(ngModel)]="post.content" #content="ngModel" required></textarea>
				<span *ngIf="addPostForm.submitted && !content.valid" class="help-block">Content is required</span>
			</div>
		</div>

		<div class="form-group col-sm-12 row add-post-btn-container">
			<div class="col-sm-2 offset-sm-2 add-post-btn">
				<button type="submit" class="btn btn-outline-secondary" [disabled]="!addPostForm.form.valid">Add Post</button>
			</div>
			<div class="col-sm-2 reset-btn">
				<button type="reset" class="btn btn-outline-secondary reset">Reset</button>
			</div>
			<div class="col-sm-2 cancel-btn">
				<button class="btn btn-outline-secondary reset" (click)="isWritePost = false">Cancel</button>
			</div>
		</div>
	</form>
</div>

<div class="write-post-btn" [ngClass]="{ 'loader' : isLoading }">
	<button class="btn btn-secondary btn-lg" (click)="addPost()">
		<i class="fa fa-pencil-square-o" aria-hidden="true"> Write Post</i>
	</button>
</div>

<div class="post-container" [ngClass]="{ 'loader' : isLoading }">
	<div *ngFor="let post of posts" class="card post">
		<h5 class="card-header">{{ post.title }}</h5>
		<div class="card-body">
			<p *ngIf="!post.isEditMode" [froalaView]="post.content"></p>

			<textarea *ngIf="post.isEditMode" [(ngModel)]="post.content" [froalaEditor] [innerHTML]="post.content"></textarea>

			<span class="tool-tip-delete" data-toggle="tooltip" data-placement="bottom" title="{{!post.isDelete ? 'Only admin can delete a post' : ''}}">
				<!-- <button class="btn btn-warning is-danger" [disabled]="!post.isDelete" (click)="deletePost(post)"> Delete Post </button> -->

				<div *ngIf="post.isEditMode; then cancel else delete">
					<!-- template will replace this div -->
				</div>

				<ng-template #cancel>
					<button class="btn btn-warning is-danger" style="margin-top: 20%;" (click)="post.isEditMode ? post.isEditMode = false : post.isEditMode = true">
						Cancel Post
					</button>
				</ng-template>

				<ng-template #delete>
					<button class="btn btn-warning is-danger" [disabled]="!post.isDelete" (click)="deletePost(post)">
						Delete Post
					</button>
				</ng-template>
			</span>

			<span class="tool-tip-edit" data-toggle="tooltip" data-placement="bottom" title="{{!post.isEditable ? 'You do not have edit permission' : ''}}">

				<div *ngIf="post.isEditMode; then save else edit">
					<!-- template will replace this div -->
				</div>

				<ng-template #edit>
					<button class="btn btn-primary is-warning" [disabled]="!post.isEditable" (click)="post.isEditMode ? post.isEditMode = false : post.isEditMode = true">
						Edit Post
					</button>
				</ng-template>
				<ng-template #save>
					<button class="btn btn-primary is-warning" style="margin-top: 20%;" (click)="post.isEditMode ? post.isEditMode = false : post.isEditMode = true; saveEditedPost(post)">
						Save Post
					</button>
				</ng-template>
			</span>
		</div>
		<div class="card-footer">
			<div class="like-unline-container">
				<small class="text-muted like-count">
					<b>{{post.like}}</b>
				</small>
				<i class="fa fa-thumbs-o-up" (click)="likeOrUnlikePost(post, 'like')" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Like" [ngClass]="{ 'like' : post.postLiked == true }"></i>
				<small style="margin: 0 2%;">|</small>
				<small class="text-muted unlike-count">
					<b>{{post.unlike}}</b>
				</small>
				<i class="fa fa-thumbs-o-down" (click)="likeOrUnlikePost(post, 'unlike')" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Unlike" [ngClass]="{ 'unlike' : post.postLiked == false }"></i>
			</div>
			<div class="post-author-edited-stamp">
				<small class="text-muted" data-toggle="tooltip" data-placement="bottom" title="{{post.author.email}}">Posted by
					<b>{{post.author.name}}</b>
				</small>
				<small *ngIf="post.lastEditedBy" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="{{post.lastEditedBy.email}}">
					| Last edited by
					<b>{{post.lastEditedBy.displayName}}</b>
				</small>
			</div>
		</div>
	</div>
</div>