<div class="col-sm-12 row forget-password-container" [ngClass]="{ 'loader' : isLoading }">
	<div class="col-sm-6 left-section" style="margin-left: 10% !important;">
		<div class="firebase-logo">
			<img src="../../assets/images/firebase-auth-logo.png" width="80%" style="margin:12%;">
		</div>
	</div>
	<div class="col-sm-6 right-section card bg-light mb-3">
		<div class="card-header forget-password-header">
			Forget Password
		</div>
		<form #forgetPasswordFrom="ngForm" class="card-body forget-password-form" (ngSubmit)="authService.forgetPassword(user)">
			<div class="form-group col-sm-12 row">
				<label for="email" class="col-sm-4 col-form-label">Email address</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" [(ngModel)]="user.email" #email="ngModel"
					 required>
					<span *ngIf="forgetPasswordFrom.submitted && !email.valid" class="help-block">Email is required</span>
				</div>
			</div>

			<div class="form-group col-sm-12 row forget-password-btn-container">
				<div class="col-sm-4 offset-sm-4 forget-password-btn">
					<button type="submit" class="btn btn-outline-secondary" [disabled]="!forgetPasswordFrom.form.valid">Reset Password</button>
				</div>
				<div class="col-sm-3 reset-btn">
					<button type="reset" class="btn btn-outline-secondary reset">Reset</button>
				</div>
			</div>
		</form>
		<div class="sign-in-up-links">
			<div class="sign-up" routerLink="/signUp">
				<p>New User? Create Account</p>
			</div>
			<div class="sign-in" routerLink="/">
				<p>Already have an account? Sign In</p>
			</div>
		</div>
	</div>
</div>